@import "../assets/styles/variables";
.dashboard-page {
  display: flex;
  background-color: $light-gray;
  .main-content {
    flex: 1;
    margin-left: 250px;
    margin-top: 60px;
    transition: margin-left 0.3s;

    &.collapsed {
      margin-left: 100px;
    }

    @media (max-width: 768px) {
      margin-left: 100px;
    }
  }
}
