.app {
  display: flex;

  .main-content {
    flex: 1;
    margin-top: 70px; // Adjust according to navbar height
    padding-left: 240px; // Adjust according to sidebar width
    padding: 20px;
  }
}
